.contact {
  padding: 3rem 1rem;
  background-color: #dacdcd04;
  text-align: center;
}

.contact h2 {
  font-size: 2.5rem;
  color:white;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 2rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: white;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007acc;
  outline: none;
}

.contact-form button {
  background-color: #007acc;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #005f99;
}

@media (max-width: 600px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact-form {
    padding: 0 1rem;
  }
}
